body {
  background-color: #30673a;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 30%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.Buttonsholder {
  margin-left: 45%;
  margin-right: 45%;
  display: flex;
  object-fit: contain;
  justify-content: center;
}
.Infosholder {
  color: #f6f4f4;
  font-size: larger;
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
  object-fit: contain;
  justify-content: center;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button1 {
  background-color: #a58d00;
} /* Green */
.button2 {
  background-color: #001eff;
} /* Blue */
.button3 {
  background-color: #d20202;
} /* Blue */

@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
